<div class="jumbotron">
    <h1>Flower Shop</h1>
    <p class="lead">
        Customised Flower Bunches For Sale.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#!/shop">Shop Now<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <h4>Shop Features</h4>
    <p>Enter Flower Quantity and Code (Eg: 10 R12)</p>
    <p>System will calculate the bundles required to fulfill the order and add them to the cart</p>
    <p>Our system optimises your order into minimum no of flower bundles to save shipping.</p>
    <p>Quantities less than minimum sized bundle will add a bundle of minimum size to the cart.</p>
    <p>Quantities left after assigning maximum sized bundles will have a bundle of minimum size added to the cart.</p>
</div>